<%-include("partials/header")-%>
<a href="/logout">Logout</a>

<%let reverse = foundPosts.reverse();%>
<%reverse.forEach(function(found){%>
    <h1>
        <%=found.title%>
    </h1>
    <%if(typeof found.publishedDate !== "undefined"){%>
        <span>Published <%=found.publishedDate%></span>
    <%}%> 
    <%if(typeof found.updatedDate !== "undefined"){%>
        <span>Updated <%=found.updatedDate%></span>
    <%}%>   
    <br/>
<% if(typeof found.imageUrl !== "undefined"){%>
    <img src="/images/<%=found.imageUrl%>" width="25rem">
<%} else {%>
    <img src="/images/<%=found.imageUrl%>" style="display:none" width="25rem">
<%}%>
   

    
    <p>
        <%=found.content.substring(0,100).trimEnd() + " ..."%>
    </p>
    <br/>
        <a href="/posts/<%=found._id%>">Read More</a>
        <button>
            <a href="/delete/<%=found._id%>">Delete</a>
        </button>
        <button>
            <a href="/update/<%=found._id%>">Update</a>
        </button>
        
<%});%>
        <button><a href="/compose">Add new post</a></button>
        <a href="/"> Go to home</a>
<%-include("partials/footer")-%>