<%-include("partials/header")-%>

<% if(records.length>0 & onedata.length>0){%>

    <div class="container">
        <div class="row">
    <%records.forEach(function(found){%>
        <br/>  
                <div class="col-md-6 postshover">
                    <a href="/posts/<%=found._id%>">
                     <% if(typeof found.imageUrl !== "undefined"){%>
            <img src="/images/<%=found.imageUrl%>" width="500px" height="400px">
        <%} else {%>
            <img src="/images/<%=found.imageUrl%>" style="display:none">
        <%}%><br/>

    
                <%if(typeof found.category !== "undefined"){%>
            <small class="text-muted">Category : <%=found.category%> &#8942;</small>
        <%}%> 
          
         <%if(typeof found.publishedDate !== "undefined" && typeof found.updatedDate === "undefined"){%>
            <small class="text-muted">Published <%=found.publishedDate%></small>
        <%}%> 
          
        <%if(typeof found.updatedDate !== "undefined"){%>
            <small class="text-muted">Updated <%=found.updatedDate%></small>
        <%}%>   
        <small class="text-muted"> &#8942; <i class="bi bi-person-circle"></i> <%=found.username%></small>
       
        
        <h2 class="title-marg+">
            <strong>
                 <%=found.title%>
        </strong>    
        </h2>

        <p class="lead">
            <%=found.content.substring(0,100).trimEnd() + " ..." %>
             
        </p>
            </a>
            
           <br/><br/>
                </div>
            
        
       
       
    <%});%>
        </div>
    </div>
   <%} else {%>
        <h1>No posts Found!</h1>
    <%}%>

    
    <% if (pages > 0) { %>
        <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
                <li class="page-item"><a href="/?page=1" class="page-link">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item"><a href="/?page=<%= i %>" class="page-link"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
                <li class="page-item"><a href="/?page=<%= pages %>" class="page-link">Last</a></li>
            <% } %>
        </ul>
        </nav>
    <% } %>
    
<%-include("partials/footer")-%>