<%-include("partials/header")-%>
<%if(authenticated === true){%>
    <a href="/profile">Profile</a>
    <a href="/admin">Go to admin dashboard</a>
<%} else {%>
    <a href="/register">Register here</a>
<a href="/login">login here</a>
<%}%>

<%let reverse = foundPosts.reverse();%>
<%reverse.forEach(function(found){%>
    <h1>
        <%=found.title%>
    </h1>
    <img src="/images/<%=found.imageUrl%>" width="25rem">
    <p>
        <%=found.content.substring(0,100).trimEnd() + " ..." %>
    </p>
    <br/>
        <a href="/posts/<%=found._id%>">Read More</a>
        
<%});%>

<%-include("partials/footer")-%>