<%-include("partials/header")-%>

    <h1>
        <%=postDetail.title%>
    </h1>
    <img src="/images/<%=postDetail.imageUrl%>" width="25rem">
    <p>
        <%=postDetail.content%>
    </p>
  
        


<%-include("partials/footer")-%>